body{
  background-color: #ffbf00;
}
 .heading{
   text-align: center;
 }
.search-bar-container{
  padding-left: 1220px;
}
.icons{
  padding-left: 1420px;
}
.navbar{
  text-align:center;
}
.logo{
  color: red;
  shape-outside: ellipse();
}
img {
  border-radius: 20%;
  width="20";
  height="700";
}
